{% extends 'layout.html' %}
{#{% load static %}#}
{% block content_detail %}
            <div class="layui-form-item">
                <table class="layui-hide" id="userListTable" lay-filter="userListTable" ></table>
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button type="button" class="layui-btn layui-btn-sm" lay-event="add"> <i class="layui-icon">&#xe654; 新增</i> </button>
                    </div>
                </script>
                <script type="text/html" id="barDemo1">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                </script>
            </div>
<script>
layui.use(['table','jquery', 'layer'], function(){
  let table = layui.table;
  let $ = layui.jquery;
  let layer = layui.layer;

  //第一个实例
  table.render({
    elem: '#userListTable'
    ,height: 600
    {#,url: '/user/list/' //数据接口#}
    ,url: '/user/list/data/' //数据接口
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:180, sort: true, fixed: 'left'}
      ,{field: 'name', title: '姓名', width:180}
      ,{field: 'password', title: '密码', width:180}
      ,{field: 'create_time', title: '创建日期', width:180}
      ,{field: 'age', title: '年龄', width:180}
      ,{field: 'account', title: '余额', width:180}
      ,{field: 'gender', title: '性别', width:180}
      ,{field: 'department_id', title: '部门名称', width:180}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo1',align: 'center',minWidth: 120}
    ]]

  });
    //头工具栏事件
        table.on('toolbar(userListTable)', function(obj){
            // var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    openAdd();
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(userListTable)', function(obj){
            var ID = obj.data.id;
            var name = obj.data.name;

            switch(obj.event){
                case 'edit':
                    openEdit(ID);
                    break;
                case 'delete':
                    openDelete(ID, name);
                    break;
            };
        });
        //方法1： 跳转新页面方式新增, type模式为2
        function openAdd(){
            layer.open({
                type:2 //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                ,title:"新增人员"
                ,content:'/user/add/'
                ,area:['600px','560px']
                ,shade:  0.4
                ,anim:5 //弹出动画
                ,shadeClose: true
                ,btn: ['保存', '关闭'] //只是为了演示
                ,btnAlign: 'c'
                ,closeBtn: 0
                ,yes: function(index, layero){
                    console.log(index)
                    let body = layer.getChildFrame('body', index);
                    let submited = body.find('button')[0];
                    submited.click();
                }
                ,btn2: function(index){
                    layer.close(index);
                }
            });
        }
        function openEdit(ID){
            layer.open({
                type:2 //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                ,title:"编辑人员"
                ,content:'user_operate?ID=' + ID
                ,area:['700px','560px']
                ,shade:  0.4
                ,anim:5 //弹出动画
                ,shadeClose: true
                ,btn: ['更新', '关闭'] //只是为了演示
                ,btnAlign: 'c'
                ,closeBtn: 0
                ,yes: function(index, layero)
                {
                    let body = layer.getChildFrame('body', index);
                    let submited = body.find('button')[0];
                    submited.click();
                }
                ,btn2: function(index)
                {
                    layer.close(index);
                }
            });
        }

        function openDelete(ID, name){
            layer.confirm('删除人员 [' + name + '] ?', {
                btn: ['删除','再考虑考虑'] //按钮
            }, function()
            {
                $.get('/user/delete/', { ID: ID }, function(res)
                {
                    {#let msg = JSON.parse(res).msg;#}
                    {#let flag = JSON.parse(res).flag;#}
                    let msg = res.msg;
                    let flag = res.flag;
                    if(flag)
                    {
                        layui.$('.layui-laypage-btn').click();
                        layer.msg(msg, {icon: 1});
                    }else {
                        layui.$('.layui-laypage-btn').click();
                        layer.msg(msg, {icon: 2});
                    }
                });
            });
        }
});
</script>
{% endblock %}


