{% extends 'layout.html' %}
{#{% load static %}#}
{% block content_detail %}
    <div class="layui-card-body">
                    <div class="layui-row">
                        <form class="layui-form layui-form-pane" lay-filter="formData">
                            <div class="layui-form-item">
                                <div class="layui-inline layui-col-xs3">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" id="name"  class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-xs3">
                                    <label class="layui-form-label">年龄</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="age" id="age"  class="layui-input">
                                    </div>

                                </div>
                                <div class="layui-inline layui-col-xs3">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-inline">
                                        <select name="gender" id="gender"  class="layui-input" lay-search>
                                            <option value=""></option>
                                            <option value=1>男</option>
                                            <option value=2>女</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="layui-inline layui-col-xs3">
                                    <div class="layui-inline layui-col-xs3">
                                        <button class="layui-btn" lay-submit lay-filter="search" id='search'><i class="layui-icon">&#xe615;</i>搜索</button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <table class="layui-hide" id="userListTable" lay-filter="userListTable" ></table>
                                <script type="text/html" id="toolbarDemo">
                                    <div class="layui-btn-container">
                                        <button type="button" class="layui-btn layui-btn-sm" lay-event="add"> <i class="layui-icon">&#xe654; 新增</i> </button>
                                    </div>
                                </script>
                                <script type="text/html" id="barDemo1">
                                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            
<script>
layui.use(['form', 'table','jquery', 'layer'], function(){
  let form = layui.form;
  let table = layui.table;
  let $ = layui.jquery;
  let layer = layui.layer;

  //第一个实例
  table.render({
    elem: '#userListTable'
    ,height: 600
    {#,url: '/user/list/' //数据接口#}
    ,url: '/user/list/data/' //数据接口

    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:180, sort: true, fixed: 'left'}
      ,{field: 'name', title: '姓名', width:180}
      ,{field: 'password', title: '密码', width:180}
      ,{field: 'create_time', title: '创建日期', width:180}
      ,{field: 'age', title: '年龄', width:180}
      ,{field: 'account', title: '余额', width:180}
      ,{field: 'gender', title: '性别', width:180}
      ,{field: 'department_id', title: '部门名称', width:180}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo1',align: 'center',minWidth: 120}
    ]]
      ,id: 'userListTable'
      ,done:function(res,curr,count){
                // 当前页为最后一页时， 清空这一页的数据需要手动跳转到前一页
                if(curr>1 && res.data.length == 0){
                    var pageValue = curr - 1;
                    table.reload('userListTable',{
                        page:{curr:pageValue},// 修改页码
                    });
                };
            }
  });
  //表格重载
        $('#search').on('click', function(){
            {#console.log(11);#}
            // var demoReload = $('#searchID');
            var searchData = form.val("formData");
            {#console.log(searchData);#}
            //执行重载
            table.reload('userListTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    name:searchData.name,
                    age:searchData.age,
                    gender:searchData.gender,
                }
            }, 'data');
            return false;
        });
        
    //头工具栏事件
        table.on('toolbar(userListTable)', function(obj){
            // var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    openAdd();
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(userListTable)', function(obj){
            var ID = obj.data.id;
            var name = obj.data.name;

            switch(obj.event){
                case 'edit':
                    openEdit(ID);
                    break;
                case 'delete':
                    openDelete(ID, name);
                    break;
            };
        });
        //方法1： 跳转新页面方式新增, type模式为2
        function openAdd(){
            layer.open({
                type:2 //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                ,title:"新增人员"
                ,content:'/user/add/'
                ,area:['600px','560px']
                ,shade:  0.4
                ,anim:5 //弹出动画
                ,shadeClose: true
                ,btn: ['保存', '关闭'] //只是为了演示
                ,btnAlign: 'c'
                ,closeBtn: 0
                ,yes: function(index, layero){
                    console.log(index)
                    let body = layer.getChildFrame('body', index);
                    let submited = body.find('button')[0];
                    submited.click();
                }
                ,btn2: function(index){
                    layer.close(index);
                }
            });
        }
        function openEdit(ID){
            {#let urlRes = 'user_edit/' + ID + '/'#}
            {#console.log(urlRes)#}
            layer.open({
                type:2 //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                ,title:"编辑人员"
                ,content: '/user/edit/' + ID + '/'
                ,area:['600px','560px']
                ,shade:  0.4
                ,anim:5 //弹出动画
                ,shadeClose: true
                ,btn: ['更新', '关闭'] //只是为了演示
                ,btnAlign: 'c'
                ,closeBtn: 0
                ,yes: function(index, layero)
                {
                    let body = layer.getChildFrame('body', index);
                    let submited = body.find('button')[0];
                    submited.click();
                }
                ,btn2: function(index)
                {
                    layer.close(index);
                }
            });
        }

        function openDelete(ID, name){
            layer.confirm('删除人员 [' + name + '] ?', {
                btn: ['删除','再考虑考虑'] //按钮
            }, function()
            {
                $.get('/user/delete/'+ID,  function(res)
                {
                    {#let msg = JSON.parse(res).msg;#}
                    {#let flag = JSON.parse(res).flag;#}
                    let msg = res.msg;
                    let flag = res.flag;
                    if(flag)
                    {
                        layui.$('.layui-laypage-btn').click();
                        layer.msg(msg, {icon: 1});
                    }else {
                        layui.$('.layui-laypage-btn').click();
                        layer.msg(msg, {icon: 2});
                    }
                });
            });
        }
});
</script>
{% endblock %}


